body, html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: bold;
    color: #D9CC11;
    background-color: #000;
    overflow: hidden;
}

.star-wars {
    width: 70%;
    height: 400%;
    position: absolute;
    bottom: 0;
    left: 15%;
    font-size: 75px;
    font-weight: bold;
    text-align: justify;
    line-height: 100px;
    overflow: hidden;
    transform-origin: 50% 90%;
    transform: perspective(400px) rotateX(25deg);
}

.star-wars-content {
    position: absolute;
    top: 100%;
    animation-name: star-wars;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes star-wars {
    0% { top: 90%; }
    100%{ top:40%; }
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

.subtitle {
    text-align: center;
    margin-bottom: 60px;
}

.first-paragraph {
    margin-bottom: 35px;
}

