.container {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
            url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    font-family: Verdana, Arial, sans-serif;
    width: 1060px;
    margin: 0 auto;
}

.head {
padding: 50px 0;
}

/*--------LOGO--------*/
.logo {
    float: left;
}

.logo-img {
    display: inline-block;
    width: 46px;
    height: 44px;
    background-image: url("../img/logo.png");
}

.logo-text {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 15px;
}

.logo-text-up {
    font-size: 29px;
}

.logo-text-down {
    font-size: 18px;
}

.logo:hover .logo-text {
    color: #f26522;
}

.logo:hover .logo-img {
    background-image: url("../img/yellowLogo.png");
}

/*--------CONTACTS--------*/
.contacts {
    float: right;
    font-size: 18px;
    color: white;
    text-align: right;
}


/*--------MAIN-CONTENT--------*/
.tours-item-container {
    float: left;
    margin-bottom: 55px;
    margin-right: 68px;
    position: relative;
}

.tours-item {
    font-size: 18px;
    text-transform: capitalize;
    color: white;

}

/*--------IMG-CONTAINER--------*/
.img-container {
    height: 196px;
    width: 303.66px;
    padding: 2px 2px;
    background: linear-gradient(to bottom, white, black);
}

.tours-item-container:nth-of-type(3n) {
    margin-right: 0;
}

/*--------FLOAT-BLOCK--------*/
.details-block {
    box-sizing: content-box;
    position: absolute;
    padding: 13px 18px 13px 21px;
    background-color: #f26522;
    top: 200px;
    transition: top 500ms ease;
    opacity: 0;
    color: white;
}

.details-block-text {
    text-transform: none;
    padding-bottom: 7px;
    font-size: 10px;
}

.details-block-cost {
    display: inline-block;
    font-size: 20px;
    margin-right: 116px;
}

.details-block-link {
    display: inline-block;
    font-size: 14px;
    text-align: right;
}

.details-block-link::after {
    padding-left: 15px;
    content:url("../img/Arrow.png");
}

/*--------ITEM-NAME--------*/
.tour-item-name {
    text-align: center;
    padding-top: 22px;
}

.tours-item:hover .tour-item-name {
    color: #f26522;
}

.tours-item:hover .details-block {
    top: 137px;
    opacity: 1;
}

/*--------FOOTER--------*/
.copyright {
    font-size: 12px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}