.container {
    font-family: sans-serif;
    width: 1280px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 auto;
}

.nav-bar {
padding: 35px 300px;
}

.nav-bar-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #16a085;
    margin: 0 30px;
}

.text-block {
    background-color: #f5f6f7;
    text-align: center;
    padding: 35px 110px 100px;
}

.title {
    text-transform: uppercase;
    font-size: 22px;
    padding-bottom: 10px;
}

.paragraph-text {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 2px;
    padding-top: 7px;
}

.pb {
    padding-bottom: 30px;
}
 .text-block-link {
     text-decoration: none;
     color: white;
     text-transform: uppercase;
     font-size: 12px;
     padding: 20px 45px;
     border-radius: 5px;
     background-color: #16a085;
 }

 .footer {
     padding: 55px;
     text-align: right;
     font-size: 16px;
 }