@font-face {
    font-family: 'Arimo';
    src: url(arimo_regular_macroman/Arimo-Regular-webfont.eot);
    src: url(arimo_regular_macroman/Arimo-Regular-webfont.eot?#iefix) format('embedded-opentype'),
    url(arimo_regular_macroman/Arimo-Regular-webfont.woff) format('woff'),
    url(arimo_regular_macroman/Arimo-Regular-webfont.ttf) format('truetype'),
    url(arimo_regular_macroman/Arimo-Regular-webfont.svg#arimoregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url(arimo_bold_macroman/Arimo-Bold-webfont.eot);
    src: url(arimo_bold_macroman/Arimo-Bold-webfont.eot?#iefix) format('embedded-opentype'),
    url(arimo_bold_macroman/Arimo-Bold-webfont.woff) format('woff'),
    url(arimo_bold_macroman/Arimo-Bold-webfont.ttf) format('truetype'),
    url(arimo_bold_macroman/Arimo-Bold-webfont.svg#arimobold) format('svg');
    font-weight: bold;
    font-style: normal;
}

.container {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.pricing-table {
    width: 1175px;
    border: 25px solid #3a4965;
    margin: calc((100vh - 645px)/2) auto;
}

.table-data:nth-of-type(even) {background-color: #e3e3e3;}

.table-data:nth-of-type(odd) {background-color: #f2f2f2;}

.table-row .table-data:first-child {width: 17.5%;}

.table-data {
    width: 13%;
    vertical-align: middle;
    color: #484848;
    border-bottom: 2px solid #d7d7d7;
}

/*TABLE-HEAD*/

.table-head {
    font-size: 20px;
    font-weight: bold;
    color: #484848;
}

.icon {
    color: #848484;
    margin-bottom: 12px;
}

.pricing-plan {
    padding: 22px;
    background-color: #fafafa;
}

.upper-text {
    font-size: 14px;
    margin-bottom: 9px;
}


/*TABLE-BODY*/

.table-body .table-row .table-data:first-child {
    padding: 17px 0 29px;
    color: white;
    font-weight: bold;
    border-bottom: none;
}

.table-body a {color: white;}

.table-body .standard-bg {background-color: #89c331;}

.table-body .ultimate-bg {background-color: #f04a56;}

.table-body .premium-bg {background-color: #20807c;}


.plan-name {
    font-size: 24px;
    margin-bottom: 14px;
}

.cost {
    font-size: 36px;
    margin-bottom: 29px;
    position: relative;
}

.cost::after {
    content: ".99";
    font-size: 18px;
    position: relative;
    bottom: 13px;
    margin-right: 90px;
}

.cost-per-month::after {
    content: "per month";
    font-size: 14px;
    position: absolute;
    top: 13px;
    right: 22px;
}

.button {
    font-size: 16px;
    padding: 9px 34px 4px;
    background-color: #414141;
    border-radius: 5px;
    border-bottom: 5px solid #343434;
    transition: background-color 500ms ease;
}

.button:hover {background-color: #343434;}

.m-b {margin-bottom: 10px;}


