.container {
    font-family: Verdana;
    text-transform: capitalize;
    background: url("../img/background.png ") no-repeat center center fixed;
    background-size: cover;
}

/*HEADER*/
.head-menu {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 18px 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1220px;
}

/*LOGO*/
.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    transition: color 0.5s ease;
}

.logo:hover {
    color: #3cb878;
}

/*HEADER-LINKS*/
.links-block {
    float: right;
    font-size: 14px;
}

/*ICON-LINKS*/
.icon-links {
    display: inline-block;
    border-right: 1px solid #4b4138;
}

.calc-link {
    display: inline-block;
    width: 20px; height: 20px;
    background: url("../img/css_sprites.png") -10px -10px;
    margin-right: 28px;
    transition: background-image 0.5s ease;
}

.calc-link:hover {
    background: url("../img/css_sprites_for_hover.png") -10px -10px;
}

.forum-link {
    display: inline-block;
    width: 28px; height: 20px;
    background: url("../img/css_sprites.png") -89px -10px;
    margin-right: 28px;
    transition: background-image 0.5s ease;
}

.forum-link:hover {
    background: url("../img/css_sprites_for_hover.png") -89px -10px;
}

.journey-link {
    display: inline-block;
    width: 20px; height: 20px;
    background: url("../img/css_sprites.png") -49px -10px;
    margin-right: 28px;
    transition: background-image 0.5s ease;
}

.journey-link:hover {
    background: url("../img/css_sprites_for_hover.png") -49px -10px;
}

/*LOGIN AND SIGN UP LINK*/
.links {
    display: inline-block;
    padding-left: 28px;
    position: relative;
    bottom: 4px;
}

/*MAIN-BLOCK*/
.main-block-container {
    width: 100%;
    height: calc(100vh - 56px);
    overflow: hidden;
}

.main-block {
    max-width: 445px;
    background-color: white;
    border-radius: 10px;
    padding: 29px 0;
    margin: calc((100vh - 639px)/2) auto; /* 583(висота main-block) + 56(висота header) = 639*/
    position: relative;
}

.form {
    max-width: 325px;
    margin: 0 auto;
}

.main-block-link {
    padding-bottom: 15px;
}

.main-block-link:before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 32px;
    content: " ";
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

/*MAIN-BLOCK-LOGIN-AND-SIGN-UP-LINKS*/
.main-block-left-text {
    font-size: 20px;
    display: inline-block;
    color: black;
}

.main-block-right-link {
    font-size: 14px;
    float: right;
    position: relative;
    top: 6px;
}

/*FAST-START-BUTTON*/
.login-button {
    width: 49%;
    height: 46px;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
}

.facebook-button {
    background-color: #305db8;
    text-align: center;
    transition: background-color 0.5s ease;
}
.facebook-button:hover {
    background-color: #264b96;
}

.facebook-img {
    width: 26%;
    margin-top: 12px;
    float: left;
}

.facebook-text {
    display: inline-block;
    width: 69%;
    padding: 6px 0;
    margin-top: 9px;
    border-left: 1px solid blue;
}

.google-button {
    background-color: #df4a32;
    text-align: center;
    float: right;
    transition: background-color 0.5s ease;
}

.google-button:hover {
    background-color: #c3412c;
}

.google-img {
    width: 26%;
    float: left;
    margin-top: 14px;
}

.google-text {
    padding: 6px 0;
    margin-top: 9px;
    display: inline-block;
    width: 69%;
    border-left:1px solid darkred;
}

/*DECOR_LINE*/
.decor-line {
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    margin: 20px 0 16px 0;
}

.decor-line-text {
    display: inline-block;
    width: 52px;
    background-color: white;
    position: relative;
    top: 6px;
}

/*INPUT-FORM*/
.input-form {
    width: 100%;
    height: 46px;
    border-radius: 3px;
    margin: 5px 0;
    padding-left: 20px;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
}

input::placeholder {
    color: #d8d8d8;
}

.input-form:focus {
    outline: none;
    box-shadow: 0px 3px 8px 1px #dddddd;;
}

/*SUBMIT-BUTTON*/
.submit-button {
    background-color: #3cb878;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: Verdana;
    text-transform: capitalize;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.submit-button:hover {
    background-color: #329a65;
}

.submit-button:focus {
    box-shadow: none;
}

/*CHECKBOX*/
.label-checkbox {
    font-size: 14px;
    position: relative;
    bottom: 5px;
    margin: 22px 0 23px 0;
}

.checkbox:checked,
.checkbox:not(:checked)
{
    position: absolute;
    left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label
{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    line-height: 20px;
    cursor: pointer;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before
{
    content: "";
    position: absolute;
    left: 0px;
    top: -1px;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
    border-radius: 2px;
}

.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
    left: 5px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid #3cb878;
    border-bottom: 3px solid #3cb878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox:not(:checked) + label:after
{
    opacity: 0;
}

.checkbox:checked + label:after
{
    opacity: 1;
}

/*ALL-OTHER*/
.white-font {
    color: white;
}

.green-font {
    color: #3cb878;
}

.green-font:hover {
    border-bottom: 1px solid #3cb878;
    transition: border-bottom 0.5s ease;
}

.grey-font {
    color: #d8d8d8;
}

.none-capitalize {
    text-transform: none;
}

.add-space-for-text-checkbox {
    margin: 0 5px;
}
