/* Parallax base styles
--------------------------------------------- */
body, html {
    overflow: hidden;
}

.parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax-group-header {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    z-index: 3;
}

.parallax-group-popular-clients {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    z-index: 2;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-layer-base {
    transform: translateZ(0);
    z-index: 4;
}

.parallax-layer-back-header {
    transform: translateZ(-300px) scale(2);
    z-index: 3;
    background-image: url("../img/bgImg/header-bg.jpeg");
    background-size: cover;
    background-position: 50% 50%;
    height: 50vh;
    position: absolute;
    top: -285px;
    left: -10px;
    right: 0;
    bottom: 0;
}

.parallax-layer-back-popular-client {
    transform: translateZ(-300px) scale(2);
    z-index: 3;
    background-image: url("../img/bgImg/parallax-bg.jpeg");
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: absolute;
    top: 1562px;
    left: -10px;
    right: 0;
    bottom: 0;
}

/*_________________NOT__FOR__PARALLAX________________*/

.container {
    margin: 0 auto;
    width: 1170px;
}

/*HEADER*/

.top-section {
    font-family: "Open Sans", sans-serif;
    color: white;
}

.top-section a {
    color:white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1d2124;
}

.main-logo {
    align-self: center;
}

.main-logo-img {
    padding: 21px;
    background-color: #1a1d20;
}

.main-logo-text {
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 27px;
}

.main-menu {
    font-size: 15px;
    text-transform: uppercase;
    padding: 28px 0;
}

.main-menu-link {
    margin: 0 19px;
}

.search {
    padding: 27.5px 26px;
    background-color: #1a1d20;
    cursor: pointer;
}

.subscribe-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.latest-news {
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    width: 100%;
    margin: 127px 0 44px 0;
}

.link-wr{
    flex-direction: column;
    font-size: 18px;
    text-transform: capitalize;
    margin: 25px 20px 140px 0;
}

.subscribe {
    padding: 20px 21px;
    background-color: #89ca62;
    border-radius: 5px;
    margin-right: 20px;
}

.best-articles {
    padding: 20px 30px;
    background-color: #14b9d5;
    border-radius: 5px;
}


/*MOST-POPULAR-POST*/

.posts-section {
    font-family: "Open Sans", sans-serif;
    background-color: #f2f2f2;
}

.section-title {
    font-size: 27px;
    color: #18b4cf;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 52px 0;
}

.popular-posts {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    max-height: 1170px;
}

.post-item {
    margin: 0 30px 30px 0;
}

.posts-caption {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 21px 0;
    background-color: white;
}

.popular-posts::after {
    content: "";
    margin-top: 40px;
}

/*MOST-POPULAR-CLIENTS*/

.our-clients-section {
    position: relative;
}

.our-clients-section::before {
    content: " ";
    padding: 0 30px;
    border: 2px solid #169cb4;
    position: absolute;
    right: calc((100% - 60px)/2);
    top: 300px;
}

.our-clients-section-title {
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 200px 0 120px 0;
}

.clients-logo {
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    padding-bottom: 200px;
}


/*TOP-RATED*/

.bg-white {
    background-color: white;
}

.top-rated {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
}

.top-rated-img {
    width: 100%;
}

/*HOT-NEWS*/

.hot-news {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    display: grid;
    grid-row-gap: 42px;
    grid-column-gap: 60px;
    grid-template-rows: 260px 420px 420px 260px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:    "news-1 news-1 news-1 news-2"
    "news-3 news-3 news-4 news-4"
    "news-5 news-5 news-6 news-6"
    "news-7 news-8 news-8 news-8";
}

.hot-news-item {
    text-align: end;
    background-color: #f9f7f7;
}

.news-1 { grid-area: news-1;}
.news-2 { grid-area: news-2; text-align: center;}
.news-3 { grid-area: news-3;}
.news-4 {grid-area: news-4;}
.news-5 { grid-area: news-5;}
.news-6 {grid-area: news-6;}
.news-7 { grid-area: news-7; text-align: center;}
.news-8 { grid-area: news-8;}

.hot-news-img-wr {
    display: flex;
    flex-direction: row;
}

.hot-news-article {
    padding: 20px 27px 0 22px;
}

.hot-news-title {
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
}

.hot-news-text {
    color: #666e72;
    margin-top: 15px;
    line-height: 23px;
}

/*FOOTER*/

.footer {
    background-color: #1d2124;
    margin-top: 70px;
    height: 80px;
    box-sizing: border-box;
    padding-top: 32px;
}

.footer-grid {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

.copyright {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: white;
}

.footer-logo {
    justify-self: end;
    margin-left: 6px;
}

