.container {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}
/*LOGO*/
.logo {
    font-size: 70px;
    font-weight: 500;
}
/*TOP-Menu*/
.top-menu {
    font-size: 18px;
    background-color: #35444f;
    text-align: center;
}

.top-menu-item {
    display: inline-block;
    padding: 25px 40px;
    border-left: 1px ridge transparent;
    border-right: 1px ridge transparent;
}

.top-menu-item:hover {
    background-color: #222f3a;
    border-left: 1px ridge gainsboro;
    border-right: 1px ridge gainsboro;

}

/*MAIN-BLOCK*/
.main-block {
    padding-top: 40px;
}
/*LEFT-MENU*/
.left-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 321px;
    font-size: 23px;
    border: 1px solid black;
}

.left-menu-list-link {
    display:block;
    padding: 16px 0 16px 45px;
}
.left-menu-list-link:hover {
    background-color: #dbdbdb;
    color: black;
    padding-left: 75px;
}
/*PICTURE*/
.picture {
    display: inline-block;
    width: 900px;
    height: 530px;
    border: 1px solid black;
    margin-left: 50px;
    position: relative;
    vertical-align: top;
}

.picture-position {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition-duration: 500ms;
}
.picture-position:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
/*TEXT-BLOCK*/
.text-block {
    margin: 35px 25px 30px 400px;
}

.text-block-paragraph {
    margin: 35px 0;
}
/*FOOTER*/
.footer {
    padding: 0 40px;
    font-size: 24px;
    background-color: #b4b7ba;

}

.footer-link {
    display: inline-block;
    padding: 16px;
}

.footer-link:hover {
    padding-bottom: 4px;
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}

.copyright {
    font-size: 20px;
    margin-left: 205px;
}

.first-footer-link-left-padding {
    padding-left: 0;
}

/*FOR-ALL*/
.link-decoration {
    text-decoration: none;
}

.white-color {
    color: white;
}

.black-color {
    color: black;
}

.blue-color {
    color: #4bcaff;
}

.grey-color {
    color: #485863;
}



